
<div class="auth-container">
  
<form action="/register" method="POST" class="card">
  <h2  class="page-title">Register</h2>
  <label>Name</label>
  <input type="text" name="name" required />

  <label>Email</label>
  <input type="email" name="email" required />

  <label>Password</label>
  <input type="password" name="password" required />

  <label>Role</label>
  <select name="role">
    <option value="user">User</option>
    <option value="admin">Admin</option>
  </select>

  <button type="submit" class="btn btn-primary">Create Account</button>
  <div class="mt">
    Already have an account? <a href="/login">Login</a>
  </div>

  <% if (typeof error !== 'undefined' && error) { %>
    <p class="error"><%= error %></p>
  <% } %>
</form>
</div>
