<h1>Users</h1>

<a href="/" class="btn-back">⬅ Back to Dashboard</a>
<table class="styled-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    <% if (users && users.length) { %>
      <% users.forEach((u, i) => { %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= u.name %></td>
          <td><%= u.email %></td>
          <td><%= u.role %></td>
        </tr>
      <% }) %>
    <% } else { %>
      <tr><td colspan="4">No users found.</td></tr>
    <% } %>
  </tbody>
</table>
