<h1>Edit Category</h1>
<a href="/admin/categories" class="btn-back">⬅ Back to Categories</a>

<form action="/admin/categories/edit/<%= category._id %>" method="POST">
  <label>Name:</label>
  <input type="text" name="name" value="<%= category.name %>" required />

  <label>Description:</label>
  <textarea name="description"><%= category.description %></textarea>

  <button type="submit">Update</button>
</form>
